
/* Product grid */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin: 14px 65px;
}

/* Product card */
.product-card{
background: #EAEEEF;
  padding: 20px;
 transition: transform 0.2s ease, box-shadow 0.3s ease;
  transform-origin: top; /* anchor at top */
}

/* HOVER EFFECT */
.product-card:hover {
  border: 2px solid black;
  transform: scaleY(1.06);
  box-shadow: 0 12px 24px rgba(0,0,0,0.12);
}


.product-card img {
  width: 100%;
  height: 180px;
  margin-bottom: 80px;
  object-fit: contain;
}

#card1 img{
  width: 100%;
  height: 180px;
  object-fit: contain;

    filter:
    invert(6%)
    sepia(6%)
    saturate(120%)
    hue-rotate(180deg)
    brightness(98%)
    contrast(95%);
}

.price {
  font-weight: 700;
  margin: 20px 0 15px;
}

.product-card h4 {
  font-size: 14px;
  margin: 4px 0;
}

.sub,
.colors {
  font-size: 14px;
  color: #666;
}

.badge {
  font-size: 14px;
  font-weight: 600;
}

.coming {
  font-size: 14px;
  color: #000;
}

.sold {
  font-size: 14px;
  font-weight: 700;
}

/* Responsive */
@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}
