/* .title {
  margin: 20px;
}

.order-card {
  background: #fff;
  border: 1px solid #ddd;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.order-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-weight: bold;
}

.order-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 0;
  border-top: 1px solid #eee;
}

.order-item img {
  width: 60px;
}

.confirm-btn {
  margin: 30px auto;
  display: block;
  padding: 12px 40px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.confirm-btn:hover {
  opacity: 0.8;
}

.empty {
  margin: 40px;
  text-align: center;
  color: gray;
}

.remove-item {
  background: transparent;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 16px;
}

.cancel-btn {
  background: transparent;
  border: 1px solid red;
  color: red;
  padding: 4px 10px;
  cursor: pointer;
} */


/* ....................................................................... */



.title {
  margin: 20px 20px;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.back-cont {
  margin-left: 40px;
  margin-top: 10px;
}

.back-btn {
  margin-bottom: 16px;
  padding: 6px 8px;
  background: white;
  color: black;
  font-weight: 780;
  margin-bottom: 4px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 22px;
}


.empty {
  text-align: center;
  color: #666;
  font-style: italic;
}

.order-card {

  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 0px 15px 10px 10px;
  background-color: #f9f9f9;
}

.order-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.1rem;
}

.order-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.order-item img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: 15px;
}

.order-item div {
  flex-grow: 1;
}

.order-item span {
  margin-right: 15px;
  font-weight: 600;
}

.remove-btnn {
  background-color: #3b3b3b;
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.remove-btnn:hover {
  background-color: #d9363e;
}

.confirm-btn {
  display: block;
  margin: 20px auto 0;
  margin-bottom: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 15px;
  padding: 12px 30px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.confirm-btn:hover {
  background-color: #0056b3;
}

.back-cont {
  margin-left: 40px;
  margin-top: 0px;
}
