.profile-wrapper {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card {
  width: 360px;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.12);
}

.profile-card h2 {
  margin-bottom: 20px;
}

.logout-btn {
  width: 100%;
  padding: 12px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.back-cont {
  margin-left: 40px;
  margin-top: 10px;
}

.back-btn {
  margin-bottom: 16px;
  padding: 6px 8px;
  background: white;
  color: black;
  font-weight: 780;
  margin-bottom: 4px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 22px;
}
