<div class="auth-wrapper">
  <div class="auth-card">
    <h2>Register</h2>

    <input type="email" placeholder="Email" [(ngModel)]="email">
    <input type="password" placeholder="Password" [(ngModel)]="password">

    <p class="error" *ngIf="error">{{ error }}</p>
    <p class="success" *ngIf="success">{{ success }}</p>

    <button (click)="register()">Create Account</button>

    <p class="switch">
      Already have an account?
      <a routerLink="/login">Login</a>
    </p>
  </div>
</div>
